<div class="container">
  <video controls>
    <source src="../../assets/multimedia/videos/Un paseo por la Casa Lis (video-converter.com).webm" type="video/webm">
    <source src="../../assets/multimedia/videos/Un paseo por la Casa Lis.mp4" type="video/mp4">
    <track kind="subtitles" src="../../assets/multimedia/videos/Un paseo por la Casa Lis. Español.vtt" srclang="es" label="Español">
    <track kind="subtitles" src="../../assets/multimedia/videos/Un paseo por la Casa Lis. Ingles.vtt" srclang="en" label="English">
  </video>
  <br>
  <h2  class="titulos-amiri">The Lis House</h2>
  <p class="content-amiri">Casa Lis is an urban palace nestled on the old city wall, ordered to be built by D. Miguel de Lis (1855-1909). The
    person in charge of carrying out this project was Joaquín de Vargas y Aguirre (1857-1935), a native of Jerez de la
    Frontera, who landed in Salamanca to occupy the position of provincial architect. Don Miguel de Lis owned a tanning
    factory that he had inherited from his father and which he adapted to the new production systems in the last decade
    of the 19th century. This prosperous business provided him with a comfortable economic position, so that D. Miguel
    is, at the time he builds his new urban palace, one of the hundred largest taxpayers in Salamanca. Defined as a
    person skilled in business and a tireless worker, his "modern" character can be appreciated in the conception of his
    new home.</p>
</div>
